@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

.timer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.timer-item {
    margin: 0 2rem;
    text-align: center;
}

.timer-item--data {
    font-size: 8rem;
    font-weight: 600;
    line-height: 1.1;
}