.icon-response {
    display: none;
}

.icon-response.show {
    display: flex;
    cursor: pointer;
}

#close-output {
    cursor: pointer;
}

.zipcode-range {
    display: none;
}

.zipcode-range.show {
    display: inline-block;
}